<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vote Now</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">

    <!-- DJ Crowd CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>

  <body id="page-top">


    <!-- Header -->
    <header class="masthead d-flex">
      <div class="main">
        <img src="Bare_Logo.png" width="123" height="95" class="center">
        <div id="vote_command">
            <h2 class="mb-1">Text To Vote</h2>
            <h4 class="mb-1">vote::{Artist Name}::{Song Title}</h4>
            <h2 class="mb-1">630-812-7643</h2>
            <h5 class="mb-1">Ex.) vote::Toto::Africa</h5>
        </div>
        <div id="list_command">
            <h2 class="mb-1">Text</h2>
            <h4 class="mb-1">list</h4>
            <h2 class="mb-1">To See Queue of Songs</h2>
        </div>



        <a href="/login" id="button">Skip to Next Song</a>
      </div>
    </header>
  </body>
</html>
